* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playing-area {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column:first-child > .spot {
  border-left: 2px solid rgb(31, 2, 117);
}
.column:last-child > .spot {
  border-right: 2px solid rgb(31, 2, 117);
}

.column > .spot:nth-child(2) {
  border-top: 2px solid rgb(31, 2, 117);
}

.column > .spot:last-child {
  border-bottom: 2px solid rgb(31, 2, 117);
}

.spot {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0279bb;
}

.drop-area {
  margin: 5px 0;
  height: 20px;
  width: 50px;
  background-color: #bdebf77f;
  border: 2px solid #eeea003e;
  border-radius: 30%;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.empty,
.red,
.yellow {
  height: 45px;
  width: 45px;
  border: 2px solid rgb(31, 2, 117);
  border-radius: 50%;
}

.red {
  background-color: #e30000;
}

.yellow {
  background-color: #eee900;
}

.empty {
  background-color: whitesmoke;
}
